<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.niit.mapper.StudentCourseMapper">
    <insert id="insertSelectionCourse">
        INSERT INTO course_selection (sno, cno) VALUES (#{sno}, #{cno});
    </insert>
    <update id="updateSelectionCourse">
        UPDATE courses c
        SET c.select_people = c.select_people + 1
        WHERE c.cno = #{cno};
    </update>
    <update id="deleteSelectionCourse">
        UPDATE courses c
        SET c.select_people = c.select_people - 1
        WHERE c.cno = #{cno};
    </update>
    <update id="updateGradeBySnoCno">
        UPDATE course_selection sc
        SET grade = #{grade}
        WHERE sc.sno = #{sno}
            AND sc.cno = #{cno}
    </update>
    <delete id="dropSelectionCourse">
        DELETE FROM course_selection sc
        WHERE sc.cno = #{cno}
        AND sc.sno = #{sno}
    </delete>
    <delete id="deleteStudentCourse">
        DELETE FROM course_selection sc
        WHERE cno = #{cno}
    </delete>

    <select id="findStudentCourseBySnoAndYear" resultType="com.niit.pojo.StudentCourse">
        SELECT
            s.sname, c.cno, c.cname, t.tname, l.dname, c.year, c.dayOfWeek,c.time,c.startWeek,c.endWeek,c.semester
        FROM
            students s
                JOIN course_selection cs ON s.sno = cs.sno
                JOIN courses c ON cs.cno = c.cno
                JOIN teaching tch ON c.cno = tch.cno
                JOIN teachers t ON tch.tno = t.tno
                JOIN course_locations cl ON c.cno = cl.cno
                JOIN locations l ON cl.dno = l.dno
        WHERE
            s.sno = #{sno}
          AND c.year = #{year};
    </select>
    <select id="findElectiveCourseBySnoDayTime" resultType="com.niit.pojo.StudentCourse">
        SELECT c.cno,
               c.cname,
               c.credit,
               l.dname,
               t.tname,
               c.time,
               c.startWeek,
               c.endWeek,
               c.dayOfWeek,
               c.total_people - c.select_people as remainPeople,
               IF(cs.sno IS NOT NULL, '已选择', '未选择') AS flag
        FROM courses c
                 LEFT JOIN
             course_selection cs ON c.cno = cs.cno AND cs.sno = #{sno} -- 替换为具体sno
                 LEFT JOIN
             course_locations cl ON c.cno = cl.cno
                 LEFT JOIN
             locations l ON cl.dno = l.dno
                 LEFT JOIN
             teaching tch ON c.cno = tch.cno
                 LEFT JOIN
             teachers t ON tch.tno = t.tno
        WHERE c.type = '选修' -- 筛选选修课
        <if test="dayOfWeek > 0">
            AND c.dayOfWeek = #{dayOfWeek}
        </if>
        <if test="time > 0">
            AND c.time = #{time}
        </if>
        ORDER BY c.cno;
    </select>
    <select id="countElectiveCourseBySno" resultType="java.lang.Integer">
        SELECT count(sno)
        FROM course_selection sc
                 INNER JOIN courses c ON sc.cno = c.cno
        WHERE sc.sno = #{sno}
          AND c.type = '选修';
    </select>
    <select id="selectStudentCourseGrade" resultType="com.niit.pojo.StudentCourse">
        SELECT
            s.sno,s.sname, c.cno, c.semester,cs.grade,c.total_people - c.select_people as remainPeople,c.total_people
        FROM
            students s
                JOIN course_selection cs ON s.sno = cs.sno
                JOIN courses c ON cs.cno = c.cno
    </select>
</mapper>