<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.niit.mapper.UserMapper">
    <insert id="createUser">
        INSERT INTO users (username, password, role, otherNo)
        VALUES (#{username}, #{password}, #{userType}, #{otherNo});
    </insert>

    <select id="selectUsers" resultType="com.niit.pojo.User">
        SELECT *
        FROM users;
    </select>
    <select id="findUserByUsername" resultType="com.niit.pojo.User">
        SELECT *
        FROM users
        WHERE username = #{username};
    </select>
    <update id="updateStudentUserId">
        UPDATE users
        SET userId = #{userId}
        WHERE otherNo = #{sno}
    </update>

</mapper>