<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.niit.mapper.UserMapper">
    <insert id="createUser">
        INSERT INTO users (username, password, userType, otherNo)
        VALUES (#{username}, #{password}, #{userType}, #{otherNo});
    </insert>
    <insert id="insertUser">
        INSERT INTO users (userId, username, password, userType, otherNo)
        VALUES (#{userId},#{username},#{password},#{userType},#{otherNo});
    </insert>

    <select id="selectUsers" resultType="com.niit.pojo.User">
        SELECT u.userId, username, password, userType, otherNo
        FROM users u;
    </select>
    <select id="findUserByUsername" resultType="com.niit.pojo.User">
        SELECT u.userId, username, password, userType, otherNo
        FROM users u
        WHERE username = #{username};
    </select>
    <select id="findUserByTno" resultType="com.niit.pojo.User">
        SELECT u.userId, username, userType, otherNo ,tname as name
        FROM users u
                 INNER JOIN teachers t ON t.tno = u.otherNo
        WHERE tno = #{tno}
    </select>
    <select id="findUserBySno" resultType="com.niit.pojo.User">
        SELECT u.userId, username, userType, otherNo ,sname as name
        FROM users u
                 INNER JOIN students s ON s.sno = u.otherNo
        WHERE sno = #{sno}
    </select>
    <select id="findMaxUserId" resultType="java.lang.Integer">
        SELECT MAX(users.userId)
        FROM users;
    </select>
    <select id="findUserByUserId" resultType="com.niit.pojo.User">
        SELECT u.userId, username, password, userType, otherNo
        FROM users u
        WHERE userId = #{userId};
    </select>
    <select id="findUserByOtherId" resultType="com.niit.pojo.User">
        SELECT u.userId, username, password, userType, otherNo
        FROM users u
        WHERE otherNo = #{otherId};
    </select>
    <update id="updateStudentUserId">
        UPDATE users
        SET userId = #{userId}
        WHERE otherNo = #{sno}
    </update>
    <update id="updateUserPassword">
        UPDATE users
        SET password = #{password}
        WHERE userId = #{userId}
    </update>

</mapper>